<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="CG.SpotifyControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v2.0.50727"/>
		<supportedRuntime version="v3.0"/>
		<supportedRuntime version="v3.5"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Libs"/>
		</assemblyBinding>
	</runtime>
	<userSettings>
		<CG.SpotifyControl.Properties.Settings>
   <setting name="ControllerLeft" serializeAs="String">
    <value>400</value>
   </setting>
   <setting name="ControllerTop" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MetadataResolver" serializeAs="String">
    <value>CG.SpotifyControl.Metadata.Resolvers.WebServicesResolver</value>
   </setting>
   <setting name="SpotifyLibResolverOptionsUsername" serializeAs="String">
    <value />
   </setting>
   <setting name="SpotifyLibResolverOptionsPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="WebServicesResolverOptionsProxyAddress" serializeAs="String">
    <value />
   </setting>
   <setting name="WebServicesResolverOptionsProxyPort" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="WebServicesResolverOptionsProxyType" serializeAs="String">
    <value />
   </setting>
  </CG.SpotifyControl.Properties.Settings>
	</userSettings>
</configuration>
